<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../../static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="../../static/dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="../../static/dist/css/bootstrap-treeview.min.css" rel="stylesheet">
    <script src="../../static/dist/js/bootstrap.js"></script>
    <script src="../../static/dist/js/bootstrap.bundle.js"></script>
    <script src="../../static/dist/js/bootstrap.bundle.js"></script>
    <script src="../../static/dist/js/bootstrap-treeview.min.js"></script>
</head>
<body>
11111111111111111111111111111111
</body>
</html>